:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: rgb(139, 139, 183);
}

header {
    height: 10vh;
    width: 70vw;
    margin: auto;
    color: rgba(13, 13, 39, 0.611);
    margin-top: 20px;
    border-radius: 25px;
    font-size: 3.5rem;
    min-width: 350px;
    background-color: rgba(74, 74, 220, 0.362);
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.482);
}

.keys {
    width: 46px;
    height: 46px;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 10px;
    margin: 1px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: default;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#chBACKSPACE {
    width: 120px;
}

#chTAB {
    width: 120px;
}

#chCAPS {
    width: 110px;
}

#chENTER {
    width: 105px;
}

#chSHIFT {
    width: 131px;
}

#ch {
    width: 100%;
}

.keyboard {
    width: 780px;
    min-width: 780px;
    height: 280px;
    min-height: 280px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.105);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;

}

.textboxP {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    min-height: 300px;
    width: 780px;
    min-width: 780px;
    margin: auto;
    margin-top: 30px;
    position: relative;
}

#text {
    height: 100%;
    width: 100%;
    word-spacing: 5px;
    font-size: 2.5rem;
    padding: 30px;
    resize: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.537);
}

.textarea {
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    padding: 10px;
    resize: none;
    border-radius: 20px;
    outline-color: rgb(139, 139, 183);
}

#wpm,
#acc,
#typos {
    padding-top: 15px;
    margin: auto;
    border-radius: 5px;
    background: rgba(18, 79, 135, 0.647);
    margin-bottom: 5px;
    margin-top: 10px;
    height: 50px;
    text-align: center;
    font-size: 1.6rem;
    width: 400px;
}

#calc {
    margin-top: 20px;
}

h2 {
    margin: auto;
}

.custom-alert {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-alert h3 {
    font-size: 3rem;
    text-align: center;
    color: rgba(29, 6, 49, 0.708);
}

.custom-alert p {
    margin-top: 10px;
    font-size: 2rem;
    padding-left: 30px;
    color: rgba(29, 6, 49, 0.708);
}

.custom-alert button {
    width: 80px;
    height: 30px;
    margin: auto;
    font-size: 1.8rem;
    background-color: #a37bff80;
    border: none;
    border-radius: 5px;
}